= form_for @transaction do |f|
  -if @transaction.errors.any?
    #error_explanation
      %h2= "#{pluralize(@transaction.errors.count, "error")} prohibited this transaction from being saved:"
      %ul
        - @transaction.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :book_date, t('models.transaction.booking_date')
    %br/
    = f.text_field :book_date
  .field
    = f.label :debit, t('models.transaction.debit')
    %br/
    = f.text_field :debit
  .field
    = f.label :credit, t('models.transaction.credit')
    %br/
    = f.text_field :credit
  .field
    = f.label :amount, t('models.transaction.amount')
    %br/
    = f.text_field :amount
  .field
    = f.label :title, t('models.transaction.title')
    %br/
    = f.text_field :title
  .actions
    = f.submit 'Save'
    
= javascript_include_tag 'transactions'
