%table#transactions.display
  %thead      
    %tr
      %th Id
      %th Booking date
      %th Debit
      %th Credit
      %th Amount
      %th Title
  %tbody
    - @transactions.each do |transaction|
      %tr
        %td= transaction.id
        %td= transaction.booking_date
        %td= transaction.debit_account.number
        %td= transaction.credit_account.number
        %td= number_to_currency(transaction.amount)
        %td= transaction.title
= javascript_include_tag 'jquery.dataTables'
= javascript_include_tag 'transactions_table'