%h1 
  Listing transactions
  - if @account
    = "of account #{@account.number} #{@account.title}"

- if @account
  %p
    %strong= "Balance: #{number_to_currency(@account.balance)}"

= render 'table', :locals => @transactions

%br

= link_to 'New Transaction', new_transaction_path
