!!!
%html
  %head
    %title Accounting
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #bodywrapper
      #header
        #logo
          %h1 Accounting
        #navigation
          = link_to "New Transaction", new_transaction_path
          |
          = link_to "Transactions", transactions_path
          |
          = link_to "Accounts", accounts_path
          |
          = link_to "Balances list", accounts_path(:view => "balances")
          |
      #contentwrapper
        = yield
