<!DOCTYPE html>
<html>
<head>
  <title>Accounting</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="bodywrapper">
	<div id="header">
		<div id="logo">
			<h1>Accounting</h1>
		</div>
		<div id="navigation">
			<%= link_to "Accounts", accounts_path %> |
		</div>
	</div>
	<div id="contentwrapper">
		<%= yield %>
	</div>
</div>

</body>
</html>
