= form_for(@account) do |f|
  - if @account.errors.any?
    #error_explanation
      %h2
        = pluralize(@account.errors.count, "error")
        prohibited this account from being saved:
      %ul
        - @account.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :parent_id, t('models.account.parent')
    %br/
    = f.text_field :parent_id
  .field
    = f.label :number, t('models.account.number')
    %br/
    = f.text_field :number
  .field
    = f.label :account_type_id, t('models.account.account_type')
    %br/
    = f.collection_select :account_type_id, AccountType.all, :id, :title
  .field
    = f.label :title, t('models.account.title')
    %br/
    = f.text_field :title
  .field
    = f.label :bookable, t('models.account.bookable')
    %br/
    = f.check_box :bookable
  .actions
    = f.submit
