%h1= t('views.account.index.title')

%table#balances
  %thead
    %tr
      %th= t('models.account.number')
      %th= t('models.account.title')
      %th= t('models.account.balance')
      %th= t('models.account.account_type')
  %tbody
    - @accounts.each do |account|
      - if account.bookable == 1
        %tr
          %td= account.number
          %td= account.title
          %td.right= number_to_currency(account.balance)
          %td= account.account_type_id

%br/
= link_to t('views.account.defaults.new'), new_account_path